body
{
    margin: 0;
    padding: 0;
    transition: 0.5s;
    background: #e8e6d9;
}
body.night
{
    background: #00151f;
}
.content
{
    margin: 100px auto;
    width: 1000px;
}
.toggle
{
    position: absolute;
    top: 40px;
    right: 50px;
    background: #fff;
    border: 2px solid #00151f;
    width: 45px;
    height: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
}
.toggle.active
{
    background: #00151f;
    border: 2px solid #fff;
}
.toggle:before
{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: #00151f;
    border-radius: 50%;
    transition: 0.5s;
}
.toggle.active:before
{
    left: 27px;
    background: #fff;
}

h2{
    text-align: center;
    font-weight: bold;
    padding: 30px;
    transition: 0.5s;
}

body.night h2{
    color: #fff;
}
body.night .set > a {
    background-color: #e8e6d9;
    color: #00151f;
}
body.night .set > a.active:hover{
    background: white;
}
body.night .set > a:hover{
    background: #9999;
}
body.night .set > a.active{
    background: #C5C7C4;
}
body.night .set > a p{
    background: #e8e6d9;
}
.container{
    position: relative;
    width: 500px;
    height: auto;
    margin: 50px auto;
}
.set{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #00151f;
    color: white;
}
.set:hover {
    background: #DEDEDE;
    color: black;
}
.set > a:hover{
    color: black;
}
.set > a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
}
.set > a i{
    position: relative;
    float: right;
    margin-top: 4px;
    color: #666;
}
.set > a.active{
    background-color: #a6a39e;
    color: #fff;
}
.set > a.active:hover{
    background-color: #00151f;
}
.set > a.active i{
    color: #fff;
}
.konten{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display: none;
}
.konten p{
    padding: 10px 15px;
    margin: 0;
    color: #333;
}