<!DOCTYPE html>
{% load static %}

{% block content %}
<html>
    <head>
        <title>My Website</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
        <link rel="stylesheet" href="{% static 'css/web.css' %}">
    </head>
    <body>
        <script src="{% static 'js/script.js' %}"></script>
        <div class="toggle"></div>
        <div class="content">
            <h2>Halo semuaaaa!!</h2>
        </div>
        <div class="container">
          <div class="set">
            <a href="#">
              Activity
              <i class="fa fa-plus"></i>
            </a>
            <div class="konten">
              <p>Belajar tiap hari</p>
            </div>
          </div>
          <div class="set">
            <a href="#">
              Experiences
              <i class="fa fa-plus"></i>
            </a>
            <div class="konten">
              <p>Staf Verifikasi dan Pengawasan Pemira Fasilkom UI 2018</p>
              <p>Staf Bazar dan Konsumsi CGT In Action</p>
              <p>Staf Digital Marketing COMPFEST</p>
              <p>Staf Akademis PMB Fasilkom UI 2019</p>
              <p>Staf Dana Usaha dan Konsumsi OH Fasilkom UI 2019</p>
            </div>
          </div>
          <div class="set">
            <a href="#">
              Achievements
              <i class="fa fa-plus"></i>
            </a>
            <div class="konten">
              <p>Alhamdulillah udah lulus matkul semester 1 dan 2</p>
            </div>
          </div>
        </div>
    </body>
</html>

{% endblock %}